@model List<MoodMe.Models.Food>
@{
    ViewData["Title"] = "Index";
}


<h1>Okay...</h1>

<br />
<br />

<h2>What did you eat?</h2>

<br />

<select>

    @foreach (var food in Model)
    {
        <option>@food.Name</option>
    }

</select>

<br />
<br />
<br />

<form>
    <input type="submit" value="Submit" />
</form>
