@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:white" class="display-4">MoodMe</h1>
    <hr />
    <img src="/assets/moodchart.png" />
    <br>
    <br>
    <div>
        <partial name="_LoginPartial" />
    </div>
</div>
