@model List<MoodMe.Models.Mood>
@{
    ViewData["Title"] = "Index";
}


<h1>Welcome!</h1>
<h2>How are you feeling?</h2>

<ul>
    @foreach (var mood in Model)
    {
        <li>@mood.Name</li>
    }
</ul>